/* Styling for general elements */

body {
	font-family: 'prata', serif;
	font-size: 20px;
	background: var(--background);
}

button {
	border: none;
	background: none;
}

header {
	background: var(--foreground);
}

li {
	list-style-type: none;
}

