.footer__home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
	box-shadow: 0 0 0.25rem 0.25rem;
	background: var(--foreground);
}

.footer__social-media {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	width: 30%;
}

.footer__social-media-icons {
	display: flex;
	justify-content: space-around;
}

.footer__social-media-headline {
	text-align: center;
	margin: 0.8rem;
	font-family: var(--text-font);
}

.footer__social-media-image {
	width: 2.5rem;
}

.footer__aboutus {
	display: none;
}

@media screen and (min-width: 768px) {
	.footer__home {
		display: flex;
		flex-direction: row;
	}

	.footer__aboutus {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 50%;
	}

	.footer__social_media {
		display: flex;
		flex-direction: column;
		justify-content: left;
		width: 50%;
	}

	.footer__aboutus-headline {
		margin: 0.8rem;
		font-family: var(--text-font);
	}
	
}