.footer__home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 6rem;
	padding: 1rem;
	background: var(--foreground);
}

.footer__social-media {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
}

.footer__social-media-icons {
	display: flex;
	justify-content: space-around;
}

.footer__social-media-text {
	margin: 0.5rem;
}

.footer__social-media-image {
	width: 2.5rem;
}

.footer__aboutus {
	display: none;
}

@media screen and (min-width: 768px) {
	.footer__home {
		display: flex;
		flex-direction: row;
		/* justify-content: center; */
	}

	.footer__aboutus {
		padding: 1%;
		display: flex;
		width: 50%;
	}

	.footer__social_media {
		display: flex;
		flex-direction: column;
		justify-content: left;
		width: 50%;
	}
	
}