.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem;
}

.header__headline {
	margin-left: 1rem;
	font-size: 4rem;
	font-family: var(--headline-font);
}

/* Styling header-right */
.header__right {
	display: flex;
	align-items: center;
}

.header__navigation {
	display: none;
	font-family: var(--text-font);
}

.header__login-button {
	width: 5rem;
	padding: 0.5rem;
	margin-right: 1rem;
	border-radius: 0.25rem;
	font-family: var(--text-font);
	font-size: medium;
}

.header__login-button {
	background: #d3a625;
}

.header__menu-burger {
	width: 3rem;
	margin-right: 1.8rem;
}

.header__logo {
	display: none;
}

/* Styling for visible navigation */
.header__navigation {
	width: 100%;
	z-index: 50;
	position: absolute;
	top: 8rem;
	left: 0;
	background: rgb(203, 203, 203);
}

.header__navigation--visible {
	display: block;
}

.header__navigation-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	font-size: 1.3rem;
	border: 1px solid rgb(38, 37, 37);
	text-decoration: none;
	color: #000;
}


.signup__button  {
	background: #d3a625;
}

/* Desktop styling */
@media screen and (min-width:768px) {
	.header__container {
		display: flex;
		justify-content: space-between;
	}

	.header__navigation {
		display: flex;
	}

	.header__logo {
		display: block;
		position: absolute;
		top: 1.1rem;
		left: 45%;
		width: 8rem;
	}

	.header__menu-button {
		display: none;
	}

	.header__login-button:hover {
		transition: 0.4s;
		background: var(--hover-color);
	}

	/* Styling navigation menu */
	.header__navigation {
		display: flex;
	}
	.header__navigation {
		position: absolute;
		width: 100vw;
	}

	 .header__navigation-menu {
		display: flex;
		width: 100vw;
		box-shadow: 0.25rem 0.25rem;
	}

	.header__navigation-item {
		/* white-space: nowrap; */
		padding: 1.2rem;
		width: 25vw;
	} 

	.header__navigation-item:hover {
		transition: 0.4s;
		background: var(--hover-color);
	}
}