.main__grid-section {
	width: 100%;
	margin-top: 12rem;
}

.main__grid-movies {
	width: 80%;
	height: 20vw;
}

.main__grid-movie {
	width: 50%;
	background-color: #fff;
}

.main__grid-image {
	width: 60%;
}