fieldset {
	border: none;
}

.signup__form {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: green;
}

.signup__form-item {
	margin: 1.5rem;
}

.login__continue {
	width: 50%;
}

@media screen and (min-width: 768px) {
	.form__container {
		margin: 9rem;
	}

	.login__continue:hover, 
	#gender:hover {
		cursor: pointer;
		transition: 0.4s;
		background: var(--hover-color);
	}
}