.sortinghat__random-picker {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem
}

.sortinghat__image {
	width: 60%;
	display: flex;
	justify-content: center;
}

.sortinghat__result {
	width: 100%;
	padding: 3rem;

	font-size: 1.5rem;
	font-family: var(--text-font);
	text-align: center;
	background: rgb(119, 119, 119);
}

.sortinghat__results-text-container {
	width: 70%;
	padding: 10vh;
	text-align: center;
	background: white;
}

.sortinghat__results-text {
	display: none;
	font-family:'Courier New', Courier, monospace;
}

.sortinghat__results-text--visible {
	display: block;
}

.sortinghat__click {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sortinghat__click-text {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	font-family: var(--text-font);
	color: #fff;
}

.sortinghat__click-button {
	display: flex;
	justify-content: left;
	width: 50%;
	margin: 0 1rem;
	padding: 0;
	font-family: var(--text-font);
	/* background: #d3a625; */
}

.sortinghat__image {
	width: 100%;
}


@media screen and (min-width: 768px) {
	.sortinghat__random-picker {
		padding: 7rem;
	}

	.sortinghat__image {
		width: 50%;
	}

	.sortinghat__result {
		width: 70%;
		padding: 5rem;
	
		font-size: 1.8rem;
		font-family: var(--text-font);
		text-align: center;
		background: rgb(199, 199, 199);
	}

	.sortinghat__click-button {
		border-radius: 0.5rem;
		transition: 0.4s;
	}

	.sortinghat__click-button:hover {
		cursor: pointer;
	}
}